.stat-card {
    position: relative;
    padding: 10px; /* Adjust padding to fit content within the height */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex: 1 0 48%; /* Make all cards the same width and allow them to wrap */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px; /* Fixed height for consistency */
    margin-bottom: 20px; /* Spacing between cards */
    margin-right: 20px; /* Spacing between cards */
}

.stat-card:nth-child(2n) {
    margin-right: 0; /* Remove right margin for every second card to prevent extra spacing */
}

.stat-card h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px; /* Adjust font size to fit content */
}

.stat-card h5 {
    font-weight: 600;
    margin-bottom: 5px; /* Adjust margin for spacing */
    font-size: 16px; /* Adjust font size to fit content */
}

.stat-card p {
    font-size: 12px; /* Adjust font size to fit content */
    margin: 0; /* Remove default margins */
}

.d-flex.justify-content-between {
    margin-bottom: 10px; /* Adjust margin for spacing */
}

.page-content {
    padding-left: 40px;
    padding-right: 40px;
}
